@model IEnumerable<question.Models.job>

@{
    ViewData["Title"] = "jobs";
}


<h1 class=" pb-2 text-center">All Jobs</h1>
<form asp-controller="users" asp-action="jobs">
    <input type="search" name="job" placeholder="search job "  class="form"/>
    <input type="submit" value="search" class="form btn btn-success" />
</form>
<table class="table">
    <thead>
        <tr>
            <th>      Job_Id         </th>
            <th>      Job_TItle      </th>
            <th>      Company           </th>
            <th>      Location           </th>
            <th>      Job_description      </th>
            <th>      Skills Required      </th>
            <th>      Apply Now </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>    @item.id        </td>
                <td>    @item.title        </td>
                <td>    @item.company        </td>
                <td>    @item.location        </td>
                <td>    @item.description        </td>
                <td>    @item.skills_required        </td>
                <td>
                    <a class="btn btn-danger" asp-controller="application" asp-action="add" asp-route-id="@item.id">Apply</a>
                </td>
            </tr>
        }
    </tbody>
</table>
